<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index" class="site_title"><i class="fa fa-cogs"></i> <span>FEEDER PM</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <% include menu_profile %>

          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <% include sidebar %>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <% include top_navigation %>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">

        <!-- top tiles -->
        <div class="row tile_count">
          <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-sliders"></i> Total On hand Feeders</span>
            <div class="count">
              <a href="/tables"><%= allFeeder[0].count %></a>
            </div>
            <!-- <span class="count_bottom"><i class="green">+4 units </i> From last Week</span> -->
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> PM Due in this month</span>
            <div class="count yellow">
              <a href="/tables_dynamic" style="color:#EAC435"><%= due[0].count %></a>
            </div>
            <!-- <span class="count_bottom"><i class="dark"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span> -->
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Over Due</span>
            <div class="count red">
              <a href="/tables" style="color:#FB3640"><%= overDue[0].count %></a>
            </div>
            <!-- <span class="count_bottom"><i class="dark"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span> -->
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-spinner"></i> Ongoing </span>
            <div class="count"><a href="/tables" style="color:#2A3F54"><%= onGoing[0].count %></a></div>
            <!-- <span class="count_bottom"><i class="dark"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span> -->
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-wrench"></i> Waiting Repair </span>
            <div class="count"><a href="/tables" style="color:#A9BCD0"><%= repair[0].count %></a></div>
            <!-- <span class="count_bottom"><i class="dark"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span> -->
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-times"></i> Scrap </span>
            <div class="count"><a href="/tables" style="color:#A9BCD0"><%= scrap[0].count %></a></div>
            <!-- <span class="count_bottom"><i class="dark"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span> -->
          </div>
        </div>
        <!-- /top tiles -->

        <!-- <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

              <div class="row x_title">
                <div class="col-md-6">
                  <h3>PM Activities <small>Over all Feeder pm</small></h3>
                </div>
                <div class="col-md-6">
                  <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                  </div>
                </div>
              </div>

              <div class="col-md-9 col-sm-9 col-xs-12">
                <div id="chart_plot_01" class="demo-placeholder"></div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                <div class="x_title">
                  <h2>Top PM Performance</h2>
                  <div class="clearfix"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-6">
                  <div>
                    <p>NXT</p>
                    <div class="">
                      <div class="progress progress_sm" style="width: 76%;">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <p>ASM</p>
                    <div class="">
                      <div class="progress progress_sm" style="width: 76%;">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-6">
                  <div>
                    <p>XXX</p>
                    <div class="">
                      <div class="progress progress_sm" style="width: 76%;">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="2"></div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <p>YYY</p>
                    <div class="">
                      <div class="progress progress_sm" style="width: 76%;">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="2"></div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="clearfix"></div>
            </div>
          </div>

        </div>
        <br /> -->
        <div class="row">
          <!-- pie chart -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Overall <small>Overall PM</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                        class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content2">
                <div id="graph_donut2" style="width:100%; height:250px;"></div>
              </div>
            </div>
          </div>
          <!-- /Pie chart -->

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel tile fixed_height_320">
              <div class="x_title">
                <h2>PM Due By Size</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                        class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span>Size 8 mm.</span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 66%;">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span><%= size8Due[0].count %></span>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span>size 12 mm.</span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 45%;">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span><%= size12Due[0].count %></span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span>Size 16 mm.</span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 25%;">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span><%= size16Due[0].count %></span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span>Size 24 mm.</span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 5%;">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span><%= size24Due[0].count %></span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span>Size 32 mm.</span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 2%;">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span><%= size32Due[0].count %></span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="widget_summary">
                  <div class="w_left w_25">
                    <span>Other</span>
                  </div>
                  <div class="w_center w_55">
                    <div class="progress">
                      <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100" style="width: 2%;">
                        <span class="sr-only">2% Complete</span>
                      </div>
                    </div>
                  </div>
                  <div class="w_right w_20">
                    <span><%= otherSizeDue[0].count %></span>
                  </div>
                  <div class="clearfix"></div>
                </div>

              </div>
            </div>
          </div>
        </div>



        <!-- end of weather widget -->
      </div>
    </div>
  </div>
  </div>
  <!-- /page content -->

  <!-- footer content -->
  <% include footer %>
  <!-- /footer content -->
  </div>
  </div>

  <script src="/-/vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/-/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- FastClick -->
  <script src="/-/vendors/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="/-/vendors/nprogress/nprogress.js"></script>
  <!-- morris.js -->
  <script src="/-/vendors/raphael/raphael.min.js"></script>
  <script src="/-/vendors/morris.js/morris.min.js"></script>
  <script>
    async function init_morris_charts2() {
      let response = await fetch(`/feederdata`)
      let data = await response.json()
      console.log(data)
      let scrap = data.scrap[0].count
      let allFeeder = data.allFeeder[0].count + scrap
      console.log("allFeeder = " + allFeeder)
      let due = data.due[0].count
      console.log("due = " + due)
      let overDue = data.overDue[0].count
      console.log("overDue = " + overDue)
      let pDue = ((due * 100) / allFeeder).toFixed(2)
      console.log("pDue = " + pDue)
      let pOverDue = ((overDue * 100) / allFeeder).toFixed(2)
      let pScrap = ((scrap * 100) / allFeeder).toFixed(2)

      let pNormal = (100 - pDue - pOverDue).toFixed(2)




      if (typeof (Morris) === 'undefined') { return; }
      console.log('init_morris_charts');

      if ($('#graph_donut2').length) {

        Morris.Donut({
          element: 'graph_donut2',
          data: [
            { label: 'Normal', value: pNormal },
            { label: 'Due', value: pDue },
            { label: 'Overdue', value: pOverDue },
            { label: 'Scrap', value: pScrap },
          ],
          colors: ['#16C172', '#FCAB10', '#F8333C', '#A29C9B'],
          formatter: function (y) {
            return y + "%";
          },
          resize: true
        });

      }

    }



    $(document).ready(() => {
      init_morris_charts2()
      console.log('morris chart2 work')
    })
  </script>
</body>