<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index" class="site_title"><i class="fa fa-paw"></i> <span>FEEDER PM</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <% include menu_profile %>

          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <% include sidebar %>
          <!-- /sidebar menu -->

          <% include sidebar-footer %>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <% include top_navigation %>
      <!-- /top navigation -->

      <!-- page content -->


      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>ฟอร์ม Scrap Feeder</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2 id="comeon">ข้อมูล Feeder ทั้งหมด <small>สามารถค้นหา Feeder ที่จะ Scrap</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                        class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                  Onhands Feeder @KETL
                </p>
                <table id="datatable-scrap" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>feeder_id</th>
                      <th>mfg_tooling_id</th>
                      <th>tooling_name</th>
                      <th>brand</th>
                      <th>Model</th>
                      <th>size</th>
                      <th>location</th>
                      <th>status</th>
                      <th>update_date</th>
                    </tr>
                  </thead>


                  <tbody>
                    <% listAllFeeder.forEach((feeder) => { %>
                    <tr>
                      <td>
                        <%- feeder.feeder_id %>
                      </td>
                      <td>
                        <%- feeder.mfg_tooling_id %>
                      </td>
                      <td>
                        <%- feeder.tooling_name %></a>
                      </td>
                      <td>
                        <%- feeder.brand %></a>
                      </td>
                      <td>
                        <%- feeder.model %></a>
                      </td>
                      <td>
                        <%- feeder.size %></a>
                      </td>
                      <td>
                        <%- feeder.location %></a>
                      </td>
                      <td>
                        <%- feeder.status %></a>
                      </td>
                      <td>
                        <% let t = String(feeder.update_date).split(" ", 5);%>
                        <%- t %></a>
                      </td>

                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-6 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>ฟอร์ม Scrap feeder <small>โปรดตรวจสอบข้อมูลให้ถูกต้อง ก่อนทำการบันทึก</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                        class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br />
                <form class="form-horizontal form-label-left" id="scrapFeeder" method="POST" action="/scrap_feeders">

                  <div class="form-group">
                    <% if (flash && flash.error) { %>
                    <p style="color: red;" id="errorMessage">
                      <%= flash.error %>
                    </p>
                    <% } %>
                    <% if (flash && flash.success) { %>
                    <p style="color: green;" id="successMessage">
                      <%= flash.success %>
                    </p>
                    <% } %>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Feeder ID</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input type="text" class="form-control" id="inputBoxFeederId" name="feederId"
                        placeholder="Default Input">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">MFG Tooling ID</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input type="text" class="form-control" id="inputBoxMfgToolingId" name="mfgToolingId"
                        placeholder="Default Input">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tooling Name</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input type="text" class="form-control" id="inputBoxToolingName" name="toolingName"
                        placeholder="Default Input">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Brand</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" id="inputBoxBrand" name="brand"
                        placeholder="Default Input">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Model</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input type="text" class="form-control" id="inputBoxModel" name="model"
                        placeholder="Default Input">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Size</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" class="form-control" id="inputBoxSize" name="size"
                        placeholder="Default Input">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Location</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input type="text" class="form-control" id="inputBoxLocation" name="location"
                        placeholder="Default Input">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <input type="text" class="form-control" id="inputBoxStatus" name="status"
                        placeholder="Default Input">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Description <span class="required">*</span>
                    </label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <textarea class="form-control" id="textAreaValue" rows="3" placeholder="Description" name="desc"></textarea>
                    </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-success">บันทึก</button>
                      <button type="reset" class="btn btn-primary">ล้างข้อมูล</button>
                      <button type="button" class="btn btn-primary">ยกเลิก</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <!-- /page content -->
  </div>
  </div>


</body>

<script>

  setTimeout(() => {
    $('#successMessage').fadeOut('slow');
    $('#errorMessage').fadeOut('slow');
    $('#emptyMessage').fadeOut('fast');
  }, 6000) // <-- time in milliseconds


</script>