<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index" class="site_title"><i class="fa fa-cogs"></i> <span>FEEDER PM</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <% include menu_profile %>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <% include sidebar %>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <% include sidebar-footer %>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <% include top_navigation %>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>สุรุปภาพรวม Feeder <small>ข้อมูลเพิ่มเติมจาก dashboards</small></h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-6">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Feeder ทั้งหมดที่ Overdue <small>แสดงรายการ Feeder Overdue ณ ปัจจุบัน</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                          class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>feeder_id</th>
                        <th>brand</th>
                        <th>size</th>
                        <th>status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% let i = 1 %>
                      <% listAllOverDue.forEach((overDue) => { %>
                      <tr>
                        <td>
                          <%- i %>
                        </td>
                        <td>
                          <%- overDue.feeder_id %>
                        </td>
                        <td>
                          <%- overDue.brand %></a>
                        </td>
                        <td>
                          <%- overDue.size %></a>
                        </td>
                        <td>
                          <%- overDue.status %></a>
                        </td>
                        <% i++ %>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-6">
              <div class="x_panel">
                <div class="x_title">
                  <h2>รายการ Feeder รอซ่อม <small>แสดงรายการ Feeder รอซ่อมทั้งหมด</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                          class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>feeder_id</th>
                        <th>brand</th>
                        <th>size</th>
                        <th>status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% let j = 1 %>
                      <% listAllRepair.forEach((repair) => { %>
                      <tr>
                        <td>
                          <%- j %>
                        </td>
                        <td>
                          <%- repair.feeder_id %>
                        </td>
                        <td>
                          <%- repair.brand %></a>
                        </td>
                        <td>
                          <%- repair.size %></a>
                        </td>
                        <td>
                          <%- repair.status %></a>
                        </td>
                        <% j++ %>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12 col-xs-6">
              <div class="x_panel">
                <div class="x_title">
                  <h2>รายการ Feedder กำลังดำเนินการ PM <small>แสดงรายการ Feeder กำลัง PM ทั้งหมด</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                          class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>feeder_id</th>
                        <th>brand</th>
                        <th>size</th>
                        <th>status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% let k = 1 %>
                      <% listAllOngoing.forEach((overDue) => { %>
                      <tr>
                        <td>
                          <%- k %>
                        </td>
                        <td>
                          <%- overDue.feeder_id %>
                        </td>
                        <td>
                          <%- overDue.brand %></a>
                        </td>
                        <td>
                          <%- overDue.size %></a>
                        </td>
                        <td>
                          <%- overDue.status %></a>
                        </td>
                        <% k++ %>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>


            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>รายการ Feeder Scrap <small>แสดงรายการ Feeder ที่ตัด scrap</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                          class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="table table-hover table-bordered" id="datatable-feeders-scrap">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>feeder_id</th>
                        <th>brand</th>
                        <th>size</th>
                        <th>status</th>
                        <th>detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% let l = 1 %>
                      <% listAllScrap.forEach((scrap) => { %>
                      <tr>
                        <td>
                          <%- l %>
                        </td>
                        <td>
                            <%- scrap.feeder_id %></a>
                          </td>
                        <td>
                          <%- scrap.brand %></a>
                        </td>
                        <td>
                          <%- scrap.size %></a>
                        </td>
                        <td>
                          <%- scrap.status %></a>
                        </td>
                        <td>
                          <%- scrap.detail %></a>
                        </td>
                        <% l++ %>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>`

            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2 id="comeon">รายการ Feeder ทั้งหมด <small>แสดงรายการ Feeder ที่มี ณ ปัจจุบัน</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                          class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <p class="text-muted font-13 m-b-30">
                    Onhands Feeder @KETL
                  </p>
                  <table id="datatable-feeders" class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>feeder_id</th>
                        <th>mfg_tooling_id</th>
                        <th>tooling_name</th>
                        <th>brand</th>
                        <th>model</th>
                        <th>size</th>
                        <th>location</th>
                        <th>status</th>
                      </tr>
                    </thead>


                    <tbody>
                      <% listAllFeeder.forEach((feeder) => { %>
                      <tr>
                        <td>
                          <%- feeder.feeder_id %>
                        </td>
                        <td>
                          <%- feeder.mfg_tooling_id %>
                        </td>
                        <td>
                          <%- feeder.tooling_name %></a>
                        </td>
                        <td>
                          <%- feeder.brand %></a>
                        </td>
                        <td>
                          <%- feeder.model %></a>
                        </td>
                        <td>
                          <%- feeder.size %></a>
                        </td>
                        <td>
                          <%- feeder.location %></a>
                        </td>
                        <td>
                          <%- feeder.status %></a>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="container">
                  <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">HISTORY PM DATA</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="x_content">
                                    <table class="table table-hover" id="datatable-history">
                                    </table>
                  
                                  </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" id="btnApprove" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- /page content -->

      <!-- footer content -->
      <% include footer %>
      <!-- /footer content -->
    </div>
  </div>
</body>